:root{
    --primary: #EA40A4;
    --business: #3A82EE;
    --personal: var(--primary);
    --light: #EEE;
    --grey: #888;
    --dark: #313154;
    --danger: #161515;

    --shadow: 0 1px 33px rgba(0, 0, 0, 0.1);

    --business-glow: 0px 0px 4px rgba(58, 130, 238, 0.75);
    --personal-glow: 0px 0px 4px rgba(234, 64, 164, 0.78);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: var(--grey);
}
section {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.greetings .title {
    display: inline-block;
}

.greetings .title{
    color: var(--dark);
    font-weight: 700;
    width: 100%;
    text-align: center;
}

.quote-app{
    display: block;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

}

.quote-app > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.575);
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}
.quote-app > button:hover{
    background-color: rgba(255, 255, 255, 0.26);
}

/* .output{
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.781);
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
} */

.quote {
    display: block;
    width: 100%;
    text-align:center;
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem 1.5rem;
    color: var(--danger);
    background-color: beige;
    border-radius: 0.5rem;
    box-shadow: var(--grey);
    margin-bottom: 1.5rem;
    cursor: default;
}

.output .quote {
    color: rgba(255, 255, 255, .75);
    font-size: 2.5rem;
}

.quote-app button[class="span-two"]{
    margin-top: 2rem;
    display: block;
    width: auto;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem 1rem;
    color: #FFF;
    background-color: var(--business);
    border-radius: 0.5rem;
    box-shadow: var(--business-glow);
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.quote-app button[class="span-two"]:hover {
    opacity: 0.75;
}

